CONFIG_CAN_BCM=n
CONFIG_BT_BCM=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_BT_HCIBCM203X=n
CONFIG_BT_HCIBCM4377=n
CONFIG_BCM_VK=n
CONFIG_BCM_VK_TTY=n
CONFIG_NET_DSA_BCM_SF2=n
# CONFIG_BCMGENET is not set
CONFIG_BCM54140_PHY=n
CONFIG_BCM7XXX_PHY=n
CONFIG_BCM84881_PHY=n
CONFIG_BCM87XX_PHY=n
CONFIG_BCM_NET_PHYLIB=n
CONFIG_BCM_NET_PHYPTP=n
CONFIG_MDIO_BCM_UNIMAC=n
CONFIG_MOUSE_BCM5974=n
CONFIG_BCMA_POSSIBLE=n
CONFIG_BCMA=n
CONFIG_BCMA_HOST_PCI_POSSIBLE=n
CONFIG_BCMA_HOST_PCI=n
CONFIG_BCMA_HOST_SOC=n
CONFIG_BCMA_DRIVER_PCI=n
CONFIG_BCMA_SFLASH=n
CONFIG_BCMA_DRIVER_GMAC_CMN=n
CONFIG_BCMA_DRIVER_GPIO=n
# CONFIG_BCMA_DEBUG is not set
CONFIG_MFD_BCM590XX=n
CONFIG_REGULATOR_BCM590XX=n
CONFIG_DVB_BCM3510=n
CONFIG_SND_BCM63XX_I2S_WHISTLER=n
CONFIG_USB_HCD_BCMA=n
CONFIG_BCM_KONA_USB2_PHY=n
