CONFIG_HAVE_INTEL_TXT=n
# CONFIG_X86_INTEL_MID is not set
CONFIG_X86_INTEL_LPSS=n
CONFIG_INTEL_TDX_GUEST=n
# CONFIG_MNATIVE_INTEL is not set
CONFIG_CPU_SUP_INTEL=n
CONFIG_X86_MCE_INTEL=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_MICROCODE_INTEL=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_X86_INTEL_TSX_MODE_OFF=n
# CONFIG_X86_INTEL_TSX_MODE_ON is not set
# CONFIG_X86_INTEL_TSX_MODE_AUTO is not set
CONFIG_X86_INTEL_PSTATE=n
CONFIG_INTEL_IDLE=n
CONFIG_KVM_INTEL=n
CONFIG_BT_INTEL=n
CONFIG_BT_HCIUART_INTEL=n
CONFIG_MTD_CFI_INTELEXT=n
CONFIG_MTD_INTEL_VR_NOR=n
CONFIG_INTEL_MEI=n
CONFIG_INTEL_MEI_ME=n
CONFIG_INTEL_MEI_TXE=n
CONFIG_INTEL_MEI_GSC=n
CONFIG_INTEL_MEI_HDCP=n
CONFIG_INTEL_MEI_PXP=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_DWMAC_INTEL=n
CONFIG_INTEL_XWAY_PHY=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_MOXA_INTELLIO=n
CONFIG_HW_RANDOM_INTEL=n
CONFIG_SPI_INTEL=n
CONFIG_SPI_INTEL_PCI=n
CONFIG_SPI_INTEL_PLATFORM=n
# Intel pinctrl drivers
CONFIG_PINCTRL_INTEL=n
# end of Intel pinctrl drivers
CONFIG_SENSORS_INTEL_M10_BMC_HWMON=n
# Intel thermal drivers
CONFIG_INTEL_POWERCLAMP=n
CONFIG_INTEL_TCC=n
CONFIG_INTEL_SOC_DTS_IOSF_CORE=n
CONFIG_INTEL_SOC_DTS_THERMAL=n
CONFIG_INTEL_BXT_PMIC_THERMAL=n
CONFIG_INTEL_PCH_THERMAL=n
CONFIG_INTEL_TCC_COOLING=n
CONFIG_INTEL_HFI_THERMAL=n
# end of Intel thermal drivers
CONFIG_INTEL_MEI_WDT=n
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=n
CONFIG_INTEL_SOC_PMIC=n
CONFIG_INTEL_SOC_PMIC_BXTWC=n
CONFIG_INTEL_SOC_PMIC_CHTWC=n
CONFIG_INTEL_SOC_PMIC_CHTDC_TI=n
CONFIG_INTEL_SOC_PMIC_MRFLD=n
CONFIG_MFD_INTEL_LPSS=n
CONFIG_MFD_INTEL_LPSS_ACPI=n
CONFIG_MFD_INTEL_LPSS_PCI=n
CONFIG_MFD_INTEL_PMC_BXT=n
CONFIG_MFD_INTEL_M10_BMC_CORE=n
CONFIG_MFD_INTEL_M10_BMC_SPI=n
CONFIG_MFD_INTEL_M10_BMC_PMCI=n
# Intel media platform drivers
CONFIG_AGP_INTEL=n
CONFIG_INTEL_GTT=n
CONFIG_FB_INTEL=n
# CONFIG_FB_INTEL_DEBUG is not set
CONFIG_FB_INTEL_I2C=n
CONFIG_SND_INTEL8X0=n
CONFIG_SND_INTEL8X0M=n
CONFIG_SND_HDA_INTEL=n
CONFIG_SND_HDA_INTEL_HDMI_SILENT_STREAM=n
CONFIG_SND_INTEL_NHLT=n
CONFIG_SND_INTEL_DSP_CONFIG=n
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=n
CONFIG_SND_INTEL_BYT_PREFER_SOF=n
CONFIG_SND_SOC_INTEL_SST_TOPLEVEL=n
CONFIG_SND_SOC_INTEL_SST=n
CONFIG_SND_SOC_INTEL_CATPT=n
# CONFIG_SND_SOC_INTEL_SKYLAKE is not set
CONFIG_SND_SOC_INTEL_SKL=n
CONFIG_SND_SOC_INTEL_APL=n
CONFIG_SND_SOC_INTEL_KBL=n
CONFIG_SND_SOC_INTEL_GLK=n
# CONFIG_SND_SOC_INTEL_CNL is not set
# CONFIG_SND_SOC_INTEL_CFL is not set
# CONFIG_SND_SOC_INTEL_CML_H is not set
# CONFIG_SND_SOC_INTEL_CML_LP is not set
CONFIG_SND_SOC_INTEL_SKYLAKE_FAMILY=n
CONFIG_SND_SOC_INTEL_SKYLAKE_SSP_CLK=n
CONFIG_SND_SOC_INTEL_SKYLAKE_HDAUDIO_CODEC=n
CONFIG_SND_SOC_INTEL_SKYLAKE_COMMON=n
CONFIG_SND_SOC_ACPI_INTEL_MATCH=n
CONFIG_SND_SOC_INTEL_AVS=n
# Intel AVS Machine drivers
CONFIG_SND_SOC_INTEL_AVS_MACH_DA7219=n
CONFIG_SND_SOC_INTEL_AVS_MACH_DMIC=n
CONFIG_SND_SOC_INTEL_AVS_MACH_HDAUDIO=n
CONFIG_SND_SOC_INTEL_AVS_MACH_I2S_TEST=n
CONFIG_SND_SOC_INTEL_AVS_MACH_MAX98927=n
CONFIG_SND_SOC_INTEL_AVS_MACH_MAX98357A=n
CONFIG_SND_SOC_INTEL_AVS_MACH_MAX98373=n
CONFIG_SND_SOC_INTEL_AVS_MACH_NAU8825=n
CONFIG_SND_SOC_INTEL_AVS_MACH_PROBE=n
CONFIG_SND_SOC_INTEL_AVS_MACH_RT274=n
CONFIG_SND_SOC_INTEL_AVS_MACH_RT286=n
CONFIG_SND_SOC_INTEL_AVS_MACH_RT298=n
CONFIG_SND_SOC_INTEL_AVS_MACH_RT5682=n
CONFIG_SND_SOC_INTEL_AVS_MACH_SSM4567=n
# end of Intel AVS Machine drivers
CONFIG_SND_SOC_INTEL_MACH=n
CONFIG_SND_SOC_INTEL_USER_FRIENDLY_LONG_NAMES=n
CONFIG_SND_SOC_INTEL_HDA_DSP_COMMON=n
CONFIG_SND_SOC_INTEL_SOF_MAXIM_COMMON=n
CONFIG_SND_SOC_INTEL_SOF_REALTEK_COMMON=n
CONFIG_SND_SOC_INTEL_SOF_CIRRUS_COMMON=n
CONFIG_SND_SOC_INTEL_HASWELL_MACH=n
CONFIG_SND_SOC_INTEL_BDW_RT5650_MACH=n
CONFIG_SND_SOC_INTEL_BDW_RT5677_MACH=n
CONFIG_SND_SOC_INTEL_BROADWELL_MACH=n
CONFIG_SND_SOC_INTEL_BYTCR_RT5640_MACH=n
CONFIG_SND_SOC_INTEL_BYTCR_RT5651_MACH=n
CONFIG_SND_SOC_INTEL_BYTCR_WM5102_MACH=n
CONFIG_SND_SOC_INTEL_CHT_BSW_RT5672_MACH=n
CONFIG_SND_SOC_INTEL_CHT_BSW_RT5645_MACH=n
CONFIG_SND_SOC_INTEL_CHT_BSW_MAX98090_TI_MACH=n
CONFIG_SND_SOC_INTEL_CHT_BSW_NAU8824_MACH=n
CONFIG_SND_SOC_INTEL_BYT_CHT_CX2072X_MACH=n
CONFIG_SND_SOC_INTEL_BYT_CHT_DA7213_MACH=n
CONFIG_SND_SOC_INTEL_BYT_CHT_ES8316_MACH=n
# CONFIG_SND_SOC_INTEL_BYT_CHT_NOCODEC_MACH is not set
CONFIG_SND_SOC_INTEL_SKL_RT286_MACH=n
CONFIG_SND_SOC_INTEL_SKL_NAU88L25_SSM4567_MACH=n
CONFIG_SND_SOC_INTEL_SKL_NAU88L25_MAX98357A_MACH=n
CONFIG_SND_SOC_INTEL_DA7219_MAX98357A_GENERIC=n
CONFIG_SND_SOC_INTEL_BXT_DA7219_MAX98357A_COMMON=n
CONFIG_SND_SOC_INTEL_BXT_DA7219_MAX98357A_MACH=n
CONFIG_SND_SOC_INTEL_BXT_RT298_MACH=n
CONFIG_SND_SOC_INTEL_SOF_WM8804_MACH=n
CONFIG_SND_SOC_INTEL_KBL_RT5663_MAX98927_MACH=n
CONFIG_SND_SOC_INTEL_KBL_RT5663_RT5514_MAX98927_MACH=n
CONFIG_SND_SOC_INTEL_KBL_DA7219_MAX98357A_MACH=n
CONFIG_SND_SOC_INTEL_KBL_DA7219_MAX98927_MACH=n
CONFIG_SND_SOC_INTEL_KBL_RT5660_MACH=n
CONFIG_SND_SOC_INTEL_GLK_DA7219_MAX98357A_MACH=n
CONFIG_SND_SOC_INTEL_GLK_RT5682_MAX98357A_MACH=n
CONFIG_SND_SOC_INTEL_SKL_HDA_DSP_GENERIC_MACH=n
CONFIG_SND_SOC_INTEL_SOF_RT5682_MACH=n
CONFIG_SND_SOC_INTEL_SOF_CS42L42_MACH=n
CONFIG_SND_SOC_INTEL_SOF_PCM512x_MACH=n
CONFIG_SND_SOC_INTEL_SOF_ES8336_MACH=n
CONFIG_SND_SOC_INTEL_SOF_NAU8825_MACH=n
CONFIG_SND_SOC_INTEL_CML_LP_DA7219_MAX98357A_MACH=n
CONFIG_SND_SOC_INTEL_SOF_CML_RT1011_RT5682_MACH=n
CONFIG_SND_SOC_INTEL_SOF_DA7219_MAX98373_MACH=n
CONFIG_SND_SOC_INTEL_SOF_SSP_AMP_MACH=n
CONFIG_SND_SOC_INTEL_EHL_RT5660_MACH=n
CONFIG_SND_SOC_INTEL_SOUNDWIRE_SOF_MACH=n
CONFIG_SND_SOC_SOF_INTEL_IPC4=n
CONFIG_SND_SOC_SOF_INTEL_TOPLEVEL=n
CONFIG_SND_SOC_SOF_INTEL_HIFI_EP_IPC=n
CONFIG_SND_SOC_SOF_INTEL_ATOM_HIFI_EP=n
CONFIG_SND_SOC_SOF_INTEL_COMMON=n
CONFIG_SND_SOC_SOF_INTEL_SKL=n
CONFIG_SND_SOC_SOF_INTEL_APL=n
CONFIG_SND_SOC_SOF_INTEL_CNL=n
CONFIG_SND_SOC_SOF_INTEL_ICL=n
CONFIG_SND_SOC_SOF_INTEL_TGL=n
CONFIG_SND_SOC_SOF_INTEL_MTL=n
CONFIG_SND_SOC_SOF_INTEL_SOUNDWIRE_LINK_BASELINE=n
CONFIG_SND_SOC_SOF_INTEL_SOUNDWIRE=n
# Intel ISH HID support
CONFIG_INTEL_ISH_HID=n
CONFIG_INTEL_ISH_FIRMWARE_DOWNLOADER=n
# end of Intel ISH HID support
CONFIG_TYPEC_MUX_INTEL_PMC=n
CONFIG_USB_ROLES_INTEL_XHCI=n
CONFIG_LEDS_INTEL_SS4200=n
CONFIG_INTEL_IDMA64=n
CONFIG_INTEL_IDXD_BUS=n
CONFIG_INTEL_IDXD=n
# CONFIG_INTEL_IDXD_COMPAT is not set
CONFIG_INTEL_IDXD_SVM=n
CONFIG_INTEL_IDXD_PERFMON=n
CONFIG_INTEL_IOATDMA=n
CONFIG_INTEL_LDMA=n
# CONFIG_INTEL_ATOMISP is not set
CONFIG_INTEL_ATOMISP2_PDX86=n
CONFIG_INTEL_ATOMISP2_LED=n
CONFIG_INTEL_ATOMISP2_PM=n
CONFIG_INTEL_IFS=n
CONFIG_INTEL_SAR_INT1092=n
CONFIG_INTEL_SKL_INT3472=n
CONFIG_INTEL_PMC_CORE=n
CONFIG_INTEL_PMT_CLASS=n
CONFIG_INTEL_PMT_TELEMETRY=n
CONFIG_INTEL_PMT_CRASHLOG=n
# Intel Speed Select Technology interface support
CONFIG_INTEL_SPEED_SELECT_TPMI=n
CONFIG_INTEL_SPEED_SELECT_INTERFACE=n
# end of Intel Speed Select Technology interface support
CONFIG_INTEL_TELEMETRY=n
CONFIG_INTEL_WMI=n
CONFIG_INTEL_WMI_SBL_FW_UPDATE=n
CONFIG_INTEL_WMI_THUNDERBOLT=n
# Intel Uncore Frequency Control
CONFIG_INTEL_UNCORE_FREQ_CONTROL=n
# end of Intel Uncore Frequency Control
CONFIG_INTEL_HID_EVENT=n
CONFIG_INTEL_VBTN=n
CONFIG_INTEL_INT0002_VGPIO=n
CONFIG_INTEL_OAKTRAIL=n
CONFIG_INTEL_BXTWC_PMIC_TMU=n
CONFIG_INTEL_BYTCRC_PWRSRC=n
CONFIG_INTEL_CHTDC_TI_PWRBTN=n
CONFIG_INTEL_CHTWC_INT33FE=n
CONFIG_INTEL_ISHTP_ECLITE=n
CONFIG_INTEL_MRFLD_PWRBTN=n
CONFIG_INTEL_PUNIT_IPC=n
CONFIG_INTEL_RST=n
CONFIG_INTEL_SDSI=n
CONFIG_INTEL_SMARTCONNECT=n
CONFIG_INTEL_TPMI=n
CONFIG_INTEL_TURBO_MAX_3=n
CONFIG_INTEL_VSEC=n
CONFIG_INTEL_IPS=n
CONFIG_INTEL_SCU_IPC=n
CONFIG_INTEL_SCU=n
CONFIG_INTEL_SCU_PCI=n
CONFIG_INTEL_SCU_PLATFORM=n
CONFIG_INTEL_SCU_IPC_UTIL=n
CONFIG_INTEL_IOMMU=n
CONFIG_INTEL_IOMMU_SVM=n
# CONFIG_INTEL_IOMMU_DEFAULT_ON is not set
CONFIG_INTEL_IOMMU_FLOPPY_WA=n
# CONFIG_INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON is not set
CONFIG_INTEL_IOMMU_PERF_EVENTS=n
CONFIG_SOUNDWIRE_INTEL=n
CONFIG_EXTCON_INTEL_INT3496=n
CONFIG_EXTCON_INTEL_CHT_WC=n
CONFIG_EXTCON_INTEL_MRFLD=n
CONFIG_INTEL_MRFLD_ADC=n
CONFIG_HID_SENSOR_CUSTOM_INTEL_HINGE=n
CONFIG_NTB_INTEL=n
CONFIG_PHY_INTEL_LGM_EMMC=n
CONFIG_INTEL_RAPL_CORE=n
CONFIG_INTEL_RAPL=n
CONFIG_INTEL_TH=n
CONFIG_INTEL_TH_PCI=n
CONFIG_INTEL_TH_ACPI=n
CONFIG_INTEL_TH_GTH=n
CONFIG_INTEL_TH_STH=n
CONFIG_INTEL_TH_MSU=n
CONFIG_INTEL_TH_PTI=n
# CONFIG_INTEL_TH_DEBUG is not set
CONFIG_FPGA_DFL_NIOS_INTEL_PAC_N3000=n
CONFIG_INTEL_QEP=n
CONFIG_INTEL_TXT=n
CONFIG_CRYPTO_AES_NI_INTEL=n
CONFIG_CRYPTO_GHASH_CLMUL_NI_INTEL=n
CONFIG_CRYPTO_CRC32C_INTEL=n
