CONFIG_NET_VENDOR_3COM=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_NET_VENDOR_ALTEON=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_NET_VENDOR_FUJITSU=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NET_VENDOR_ADI=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_NET_VENDOR_NI=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NET_VENDOR_NETERION=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NET_VENDOR_8390=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_NET_VENDOR_PACKET_ENGINES=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_NET_VENDOR_TI=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NET_VENDOR_XIRCOM=n

CONFIG_ETHERNET=n
CONFIG_MDIO=n
# CONFIG_NET_VENDOR_3COM is not set
# CONFIG_NET_VENDOR_ADAPTEC is not set
# CONFIG_NET_VENDOR_AGERE is not set
# CONFIG_NET_VENDOR_ALACRITECH is not set
# CONFIG_NET_VENDOR_ALTEON is not set
CONFIG_ALTERA_TSE=n
# CONFIG_NET_VENDOR_AMAZON is not set
# CONFIG_NET_VENDOR_AMD is not set
# CONFIG_NET_VENDOR_AQUANTIA is not set
# CONFIG_NET_VENDOR_ARC is not set
# CONFIG_NET_VENDOR_ASIX is not set
# CONFIG_NET_VENDOR_ATHEROS is not set
CONFIG_CX_ECAT=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_B44=n
CONFIG_B44_PCI_AUTOSELECT=n
CONFIG_B44_PCICORE_AUTOSELECT=n
CONFIG_B44_PCI=n
CONFIG_BCMGENET=n
CONFIG_BNX2=n
CONFIG_CNIC=n
CONFIG_TIGON3=n
CONFIG_TIGON3_HWMON=n
CONFIG_BNX2X=n
CONFIG_BNX2X_SRIOV=n
CONFIG_SYSTEMPORT=n
CONFIG_BNXT=n
CONFIG_BNXT_SRIOV=n
CONFIG_BNXT_FLOWER_OFFLOAD=n
CONFIG_BNXT_DCB=n
CONFIG_BNXT_HWMON=n
# CONFIG_NET_VENDOR_CADENCE is not set
# CONFIG_NET_VENDOR_CAVIUM is not set
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_CHELSIO_T1=n
CONFIG_CHELSIO_T1_1G=n
CONFIG_CHELSIO_T3=n
CONFIG_CHELSIO_T4=n
CONFIG_CHELSIO_T4_DCB=n
CONFIG_CHELSIO_T4_FCOE=n
CONFIG_CHELSIO_T4VF=n
CONFIG_CHELSIO_LIB=n
CONFIG_CHELSIO_INLINE_CRYPTO=n
CONFIG_CHELSIO_IPSEC_INLINE=n
CONFIG_CHELSIO_TLS_DEVICE=n
# CONFIG_NET_VENDOR_CISCO is not set
# CONFIG_NET_VENDOR_CORTINA is not set
# CONFIG_NET_VENDOR_DAVICOM is not set
CONFIG_DNET=n
# CONFIG_NET_VENDOR_DEC is not set
# CONFIG_NET_VENDOR_DLINK is not set
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_BE2NET=n
CONFIG_BE2NET_HWMON=n
CONFIG_BE2NET_BE2=n
CONFIG_BE2NET_BE3=n
CONFIG_BE2NET_LANCER=n
CONFIG_BE2NET_SKYHAWK=n
# CONFIG_NET_VENDOR_ENGLEDER is not set
# CONFIG_NET_VENDOR_EZCHIP is not set
# CONFIG_NET_VENDOR_FUJITSU is not set
# CONFIG_NET_VENDOR_FUNGIBLE is not set
# CONFIG_NET_VENDOR_GOOGLE is not set
# CONFIG_NET_VENDOR_HUAWEI is not set
# CONFIG_NET_VENDOR_INTEL is not set
CONFIG_JME=n
# CONFIG_NET_VENDOR_ADI is not set
# CONFIG_NET_VENDOR_LITEX is not set
# CONFIG_NET_VENDOR_MARVELL is not set
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_MLX4_EN=n
CONFIG_MLX4_EN_DCB=n
CONFIG_MLX4_CORE=n
CONFIG_MLX4_DEBUG=n
CONFIG_MLX4_CORE_GEN2=n
CONFIG_MLX5_CORE=n
CONFIG_MLX5_FPGA=n
CONFIG_MLX5_CORE_EN=n
CONFIG_MLX5_EN_ARFS=n
CONFIG_MLX5_EN_RXNFC=n
CONFIG_MLX5_MPFS=n
CONFIG_MLX5_ESWITCH=n
CONFIG_MLX5_BRIDGE=n
CONFIG_MLX5_CLS_ACT=n
CONFIG_MLX5_TC_CT=n
CONFIG_MLX5_TC_SAMPLE=n
CONFIG_MLX5_CORE_EN_DCB=n
CONFIG_MLX5_CORE_IPOIB=n
# CONFIG_MLX5_EN_MACSEC is not set
CONFIG_MLX5_EN_IPSEC=n
CONFIG_MLX5_EN_TLS=n
CONFIG_MLX5_SW_STEERING=n
CONFIG_MLX5_SF=n
CONFIG_MLX5_SF_MANAGER=n
CONFIG_MLXSW_CORE=n
CONFIG_MLXSW_CORE_HWMON=n
CONFIG_MLXSW_CORE_THERMAL=n
CONFIG_MLXSW_PCI=n
CONFIG_MLXSW_I2C=n
CONFIG_MLXSW_SPECTRUM=n
CONFIG_MLXSW_SPECTRUM_DCB=n
CONFIG_MLXSW_MINIMAL=n
CONFIG_MLXFW=n
# CONFIG_NET_VENDOR_MICREL is not set
# CONFIG_NET_VENDOR_MICROCHIP is not set
# CONFIG_NET_VENDOR_MICROSEMI is not set
# CONFIG_NET_VENDOR_MICROSOFT is not set
# CONFIG_NET_VENDOR_MYRI is not set
CONFIG_FEALNX=n
# CONFIG_NET_VENDOR_NI is not set
# CONFIG_NET_VENDOR_NATSEMI is not set
# CONFIG_NET_VENDOR_NETERION is not set
# CONFIG_NET_VENDOR_NETRONOME is not set
# CONFIG_NET_VENDOR_NVIDIA is not set
# CONFIG_NET_VENDOR_OKI is not set
CONFIG_ETHOC=n
# CONFIG_NET_VENDOR_PACKET_ENGINES is not set
# CONFIG_NET_VENDOR_PENSANDO is not set
# CONFIG_NET_VENDOR_QLOGIC is not set
# CONFIG_NET_VENDOR_BROCADE is not set
# CONFIG_NET_VENDOR_QUALCOMM is not set
# CONFIG_NET_VENDOR_RDC is not set
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_ATP=n
CONFIG_8139CP=n
CONFIG_8139TOO=n
CONFIG_8139TOO_PIO=n
# CONFIG_8139TOO_TUNE_TWISTER is not set
CONFIG_8139TOO_8129=n
# CONFIG_8139_OLD_RX_RESET is not set
CONFIG_R8169=n
# CONFIG_NET_VENDOR_RENESAS is not set
# CONFIG_NET_VENDOR_ROCKER is not set
# CONFIG_NET_VENDOR_SAMSUNG is not set
# CONFIG_NET_VENDOR_SEEQ is not set
# CONFIG_NET_VENDOR_SILAN is not set
# CONFIG_NET_VENDOR_SIS is not set
# CONFIG_NET_VENDOR_SOLARFLARE is not set
# CONFIG_NET_VENDOR_SMSC is not set
# CONFIG_NET_VENDOR_SOCIONEXT is not set
# CONFIG_NET_VENDOR_STMICRO is not set
# CONFIG_NET_VENDOR_SUN is not set
# CONFIG_NET_VENDOR_SYNOPSYS is not set
# CONFIG_NET_VENDOR_TEHUTI is not set
# CONFIG_NET_VENDOR_TI is not set
# CONFIG_NET_VENDOR_VERTEXCOM is not set
# CONFIG_NET_VENDOR_VIA is not set
# CONFIG_NET_VENDOR_WANGXUN is not set
# CONFIG_NET_VENDOR_WIZNET is not set
# CONFIG_NET_VENDOR_XILINX is not set
# CONFIG_NET_VENDOR_XIRCOM is not set
CONFIG_FDDI=n
CONFIG_DEFXX=n
CONFIG_SKFP=n
# CONFIG_HIPPI is not set
CONFIG_NET_SB1000=n
CONFIG_PHYLINK=n
CONFIG_PHYLIB=n
CONFIG_SWPHY=n
CONFIG_LED_TRIGGER_PHY=n
CONFIG_FIXED_PHY=n
CONFIG_SFP=n


